<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvel</title>
  </head>
  <body>
    <h1>Marvel Superheroes!!!</h1>
    <div id="app">
        <div v-for="character in listOfCharacters">
            <h1>{{ character.name }}</h1>
            <p v-if="character.skill">{{ character.skill }}</p>
            <p v-else>What Skill?</p>
            <button @click="addFavourite(character.name)">Favourite</button>
        </div>
        <hr />
        <h2>Favourite Characters</h2>
        <p>{{ favouriteCharacters }}</p>
        <hr />
        <h2>Add Characters</h2>
        <pre>
            {{ newCharacter }}
        </pre>
        <div>
            <input type="text" placeholder="Hero Name" v-model="newCharacter.name"/>
            <br/>
            <input type="text" placeholder="Hero Skill" v-model="newCharacter.skill"/>
            <br/>
            <select v-model="newCharacter.gender">
                <option v-for="gender in genderOptions">{{ gender }}</option>
            </select>
            <button @click="addCharacter">Submit</button>
        </div>
        <hr />
        <div>
            <h2>Add Character Pt.2</h2>
            <label for="character-name">Name: </label>
            <input type="text" 
            placeholder="Hero Name" 
            v-model="newCharacter.name"
            @keyup.enter="addCharacter"/>
        </div>
        <hr />
        <h2>Gender Chart</h2>
        <h3>{{ genderPercentage }}</h3>
        <hr />
        <p>
            <span v-for="(character, index) in listOfCharacters">
                {{ character.name }}{{ index === listOfCharacters.length - 1 ? '' : ', '}}
            </span>
        </p>
        <p>{{ listOfCharacters.map(a => a.name).join(", ") }}</p>
        <p>{{ listOfCharacters.map(({ name }) => name) }}</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue
        const app = createApp({
            data() {
                return {
                    genderOptions: ["Male", "Female", "Unspecified"],
                    listOfCharacters: [
                        {name: "Captain America",
                         skill: "Shield Throwing",
                         gender: "Male"},
                        
                        {name: "Iron Man",
                         skill: "Blasting Beams",
                         gender: "Male"},
                        
                        {name: "Hulk",
                         skill: "Raging",
                         gender: "Male"},
                        
                        {name: "Black Widow",
                         skill: "Whacking and Smacking",
                         gender: "Female"},
                        
                        {name: "Hawkeye",
                         skill: "Arrow Shooting",
                         gender: "Male"},
                        
                         {name: "Some Dude",
                         skill: "",
                         gender: "Unspecified"}
                    ],
                    favouriteCharacters: [],
                    newCharacter: {
                        name: "",
                        skill: "",
                        gender: "Unspecified"
                    }
                }
            },
            computed: {
                genderPercentage() {
                    return this.listOfCharacters.reduce(function(obj, v) {
                        obj[v.gender] = (obj[v.gender] || 0) + 1
                        return obj
                    }, {})
                }
            },
            methods: {
                addFavourite(character) {
                    if (!this.favouriteCharacters.includes(character)) {
                        this.favouriteCharacters.push(character)
                    }   
                },
                addCharacter() {
                    //console.log(inputCharacter)
                    this.listOfCharacters.push(this.newCharacter)
                    this.newCharacter = {
                        name: "",
                        skill: "",
                        gender: "Unspecified",
                    }
                }
            }
        })
        app.mount("#app")
    </script>
  </body>
</html>